<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/5939d2105c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
            <h1 class="header__title">
                Start Page
            </h1>

            <p class="header__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam beatae soluta necessitatibus obcaecati. Id repudiandae consequatur recusandae iusto dolores repellat et nobis, reprehenderit error facilis.</p>

            <div class="header__container">
                <button class="button">
                    Get Started
                </button>
    
                <button class="button button--reverse">
                    Sign In
                </button>
            </div>
    </header>

    <main class="main">
        <section class="section">
            <div class="section__container">
                <div class="section__image">
                    <i class="fa-solid fa-battery-half"></i>
                </div>
    
                <div class="section__content">
                    <h1 class="section__title">Lorem ipsum</h1>
    
                    <p class="section__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ab quia perspiciatis neque laboriosam. Similique cum aspernatur saepe sequi dolorum eos expedita, eveniet error vero autem numquam vitae ipsam sit?</p>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="section__container">
                <div class="section__image">
                    <i class="fa-solid fa-cubes"></i>
                </div>
    
                <div class="section__content">
                    <h1 class="section__title">Lorem ipsum</h1>
    
                    <p class="section__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ab quia perspiciatis neque laboriosam. Similique cum aspernatur saepe sequi dolorum eos expedita, eveniet error vero autem numquam vitae ipsam sit?</p>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="section__container">
                <div class="section__image">
                    <i class="fa-solid fa-shield-halved"></i>
 
                </div>
    
                <div class="section__content">
                    <h1 class="section__title">Lorem ipsum</h1>
    
                    <p class="section__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ab quia perspiciatis neque laboriosam. Similique cum aspernatur saepe sequi dolorum eos expedita, eveniet error vero autem numquam vitae ipsam sit?</p>
                </div>
            </div>
        </section>
    </main>

    <section class="start">
        <h1 class="start__title">Let's start your journey?</h1>

        <button class="button">
            Get Started
        </button>
    </section>

    <footer class="footer">
        <p class="footer__text">
            Powered by
            <a href="" class="footer__link" target="_blank">
                Eliseu
            </a>
        </p>
    </footer>
    <script src="assets/js/index.js"></script>
</body>
</html>